.slider-container{
  display: flex;
  justify-content: center;
}

h3{
  text-align: center;
}

ul{
  display: flex;
  justify-content: center;
}

/* .rest-select{
  display: none;
} */

body {
  background: #f1f2f6;
}

.stats {
  border-radius: 40px;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 360px;
  margin-right: 360px;
  padding: 100px;
}

.stats-emoji {
  font-size: 80px;
}

.stats-text {
  margin: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.stats-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#calc-btn {
  background-image: linear-gradient(90deg, #ff512f, #dd2476);
  margin-right: 50px;
  margin-left: 25px;
  font-size: 20px;
  line-height: 25px;
  font-family: Nunito, sans-serif;
  border-radius: 19px;
  width: 400px;
}

.desc-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}